@import '../../base/css/common.scss';

.icon {
  display: inline-block;
}

@media (min-width: $desktopWidthMin) {
  .desktop-xs {
    width: 12px;
    height: 12px;
  }

  .desktop-sm {
    width: 16px;
    height: 16px;
  }

  .desktop-md {
    width: 20px;
    height: 20px;
  }

  .desktop-lg {
    width: 28px;
    height: 28px;
  }

  .desktop-xl {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: $tabletWidthMin) and (max-width: $tabletWidthMax) {
  .tablet-xs {
    width: 12px;
    height: 12px;
  }

  .tablet-sm {
    width: 16px;
    height: 16px;
  }

  .tablet-md {
    width: 20px;
    height: 20px;
  }

  .tablet-lg {
    width: 28px;
    height: 28px;
  }

  .tablet-xl {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: $mobileWidthMax) {
  .mobile-xs {
    width: 12px;
    height: 12px;
  }

  .mobile-sm {
    width: 16px;
    height: 16px;
  }

  .mobile-md {
    width: 20px;
    height: 20px;
  }

  .mobile-lg {
    width: 28px;
    height: 28px;
  }

  .mobile-xl {
    width: 40px;
    height: 40px;
  }
}
.xs {
  width: 12px;
  height: 12px;
}

.sm {
  width: 16px;
  height: 16px;
}

.md {
  width: 20px;
  height: 20px;
}

.lg {
  width: 28px;
  height: 28px;
}

.xl {
  width: 40px;
  height: 40px;
}
