@import '../css/common.scss';
.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .tabWrapper {
    border-radius: 8px;
    cursor: pointer;
    .tab {
      display: flex;
      align-items: center;
      margin: 0 24px;
      gap: 8px;
      flex-wrap: wrap;
      justify-content: center;
      &.column-xl {
        flex-direction: column;
        height: unset;
      }
      @media (max-width: $tabletWidthMax) {
        &.column-md {
          flex-direction: column;
          height: unset;
        }
      }
      @media (max-width: $mobileWidthMax) {
        &.column-sm {
          flex-direction: column;
          height: unset;
        }
      }
      .label {
        &.hidden-xl {
          display: none;
        }
        @media (max-width: $tabletWidthMax) {
          &.hidden-md {
            display: none;
          }
        }
        @media (max-width: $mobileWidthMax) {
          &.hidden-sm {
            display: none;
          }
        }
      }

      &.md {
        height: 38px;
        padding: 8px 0;
        margin: 0 24px;
        .label {
          @include font-body-semibold;
        }
      }
      &.sm {
        height: 34px;
        padding: 8px 0;
        margin: 0 24px;
        .label {
          @include font-caption-semibold;
        }
      }

      @media (min-width: $desktopWidthMin) {
        &.desktop-md {
          height: 34px;
          padding: 8px 0;
          margin: 0 24px;
          .label {
            @include font-caption-semibold;
          }
        }
        &.desktop-sm {
          height: 34px;
          padding: 8px 0;
          margin: 0 24px;
          .label {
            @include font-caption-semibold;
          }
        }
      }

      @media (min-width: $tabletWidthMin) and (max-width: $tabletWidthMax) {
        &.tablet-md {
          height: 34px;
          padding: 8px 0;
          margin: 0 24px;
          .label {
            @include font-caption-semibold;
          }
        }
        &.tablet-sm {
          height: 34px;
          padding: 8px 0;
          margin: 0 24px;
          .label {
            @include font-caption-semibold;
          }
        }
      }

      @media (max-width: $mobileWidthMax) {
        &.mobile-md {
          height: 34px;
          padding: 8px 0;
          margin: 0 24px;
          .label {
            @include font-caption-semibold;
          }
        }
        &.mobile-sm {
          height: 34px;
          padding: 8px 0;
          margin: 0 24px;
          .label {
            @include font-caption-semibold;
          }
        }
      }
    }
  }

  @each $gutter in $levels {
    &.gutter-#{$gutter} {
      margin-left: -#{$gutter}px;
      margin-right: -#{$gutter}px;
      .tabContainer {
        padding-left: #{$gutter}px;
        padding-right: #{$gutter}px;
      }
    }
    &.gutter-xl-#{$gutter} {
      @media (min-width: $desktopWidthMin) {
        margin-left: -#{$gutter}px;
        margin-right: -#{$gutter}px;
        .tabContainer {
          padding-left: #{$gutter}px;
          padding-right: #{$gutter}px;
        }
      }
    }
    &.gutter-md-#{$gutter} {
      @media (min-width: $tabletWidthMin) and (max-width: $tabletWidthMax) {
        margin-left: -#{$gutter}px;
        margin-right: -#{$gutter}px;
        .tabContainer {
          padding-left: #{$gutter}px;
          padding-right: #{$gutter}px;
        }
      }
    }
    &.gutter-sm-#{$gutter} {
      @media (max-width: $mobileWidthMax) {
        margin-left: -#{$gutter}px;
        margin-right: -#{$gutter}px;
        .tabContainer {
          padding-left: #{$gutter}px;
          padding-right: #{$gutter}px;
        }
      }
    }
  }
}
