@import '../../base/css/common.scss';

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.sm {
  @include caption;
  @include font-regular;
  height: 24px;
  gap: 4px;
  border-radius: 6px;
  padding: 0 12px;
}
.md {
  @include body;
  @include font-semibold;
  height: 32px;
  gap: 8px;
  border-radius: 6px;
  padding: 0 20px;
}
.lg {
  @include body;
  @include font-semibold;
  height: 40px;
  gap: 8px;
  border-radius: 6px;
  padding: 0 24px;
}
.xl {
  @include h4;
  @include font-semibold;
  height: 48px;
  gap: 12px;
  border-radius: 8px;
  padding: 0 32px;
}

.student {
  background: $primaryColor;
}

.parent {
  background: $secondaryColor;
}

.primary {
  color: $whiteColor;
  &:not(:disabled) {
    &.student {
      &:hover {
        background: $primaryDark10Color;
      }
      &:active {
        background: $primaryDark20Color;
      }
    }
    &.parent {
      &:hover {
        background: $secondaryDark10Color;
      }
      &:active {
        background: $secondaryDark20Color;
      }
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.default {
  border: 1px solid $gray15Color;
  color: $gray70Color;
  background: $whiteColor;
  &.student {
    &:not(:disabled) {
      &:hover {
        color: $primaryColor;
        border: 1px solid $primaryColor;
      }
      &:active {
        background: rgba(255, 140, 5, 0.1);
      }
    }
  }
  &.parent {
    &:not(:disabled) {
      &:hover {
        color: $secondaryColor;
        border: 1px solid $secondaryColor;
      }
      &:active {
        background: rgba(24, 119, 242, 0.1);
      }
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.text {
  color: $gray70Color;
  background: none;
  &:not(:disabled) {
    &:hover {
      background: $gray4Color;
    }
    &:active {
      background: $gray10Color;
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.link {
  color: $linkColor;
  background: none;
  &:not(:disabled) {
    &:hover {
      background: $gray4Color;
    }
    &:active {
      background: $gray10Color;
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
