@import '../../base/css/common.scss';

@mixin btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

button.btn-size-sm {
  @include caption;
  @include font-regular;
  @include btn-flex;
  height: 24px;
  gap: 4px;
  border-radius: 6px;
  padding: 0 12px;
}
button.btn-size-md {
  @include body;
  @include font-semibold;
  @include btn-flex;
  height: 32px;
  gap: 8px;
  @include border-radius-8;
  padding: 0 20px;
}
button.btn-size-lg {
  @include body;
  @include font-semibold;
  @include btn-flex;
  height: 40px;
  gap: 8px;
  @include border-radius-8;
  padding: 0 24px;
}
button.btn-size-xl {
  @include h4;
  @include font-semibold;
  @include btn-flex;
  height: 48px;
  gap: 12px;
  @include border-radius-8;
  padding: 0 32px;
}

button.btn-bg-orange {
  background: $orangeColor6;
  &-reversed {
    background: $whiteColor;
    color: $orangeColor6;
  }
}

button.btn-bg-blue {
  background: $blueColor6;
  &-reversed {
    background: $whiteColor;
    color: $blueColor6;
  }
}

button.btn-bg-green {
  background: $greenColor6;
  &-reversed {
    background: $whiteColor;
    color: $greenColor6;
  }
}

button.btn-bg-crimson {
  background: $crimsonColor6;
  &-reversed {
    background: $whiteColor;
    color: $crimsonColor6;
  }
}

button.btn-type-primary {
  color: $whiteColor;
  &:not(:disabled) {
    &.btn-bg-orange:hover {
      background: $orangeColor7;
    }
    &.btn-bg-orange:active {
      background: $orangeColor8;
    }
    &.btn-bg-blue:hover {
      background: $blueColor7;
    }
    &.btn-bg-blue:active {
      background: $blueColor8;
    }
    &.btn-bg-green:hover {
      background: $greenColor7;
    }
    &.btn-bg-green:active {
      background: $greenColor8;
    }
    &.btn-bg-crimson:hover {
      background: $crimsonColor7;
    }
    &.btn-bg-crimson:active {
      background: $crimsonColor8;
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  &-reversed {
    &:not(:disabled) {
      &.btn-bg-orange-reversed:hover {
        background: $orangeColor1;
      }
      &.btn-bg-orange-reversed:active {
        background: $orangeColor2;
      }
      &.btn-bg-blue-reversed:hover {
        background: $blueColor1;
      }
      &.btn-bg-blue-reversed:active {
        background: $blueColor2;
      }
      &.btn-bg-green-reversed:hover {
        background: $greenColor1;
      }
      &.btn-bg-green-reversed:active {
        background: $greenColor2;
      }
      &.btn-bg-crimson-reversed:hover {
        background: $crimsonColor1;
      }
      &.btn-bg-crimson-reversed:active {
        background: $crimsonColor2;
      }
    }
    &:disabled {
      cursor: not-allowed;
      &.btn-bg-orange-reversed {
        background: $orangeColor3;
      }
      &.btn-bg-blue-reversed {
        background: $blueColor3;
      }
      &.btn-bg-green-reversed {
        background: $greenColor3;
      }
      &.btn-bg-crimson-reversed {
        background: $crimsonColor3;
      }
    }
  }
}

button.btn-type-default {
  border: 1px solid $gray15Color;
  color: $gray70Color;
  background: $whiteColor;
  &:not(:disabled) {
    &.btn-bg-orange:hover {
      color: $orangeColor6;
      border: 1px solid $orangeColor6;
    }
    &.btn-bg-orange:active {
      background: $orangeColor1;
    }
    &.btn-bg-blue:hover {
      color: $blueColor6;
      border: 1px solid $blueColor6;
    }
    &.btn-bg-blue:active {
      background: $blueColor1;
    }
    &.btn-bg-green:hover {
      color: $greenColor6;
      border: 1px solid $greenColor6;
    }
    &:active {
      background: $greenColor1;
    }
    &.btn-bg-crimson:hover {
      color: $crimsonColor6;
      border: 1px solid $crimsonColor6;
    }
    &.btn-bg-crimson:active {
      background: $crimsonColor1;
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  &-reversed {
    background: none;
    border: 1px solid $whiteColor;
    &:not(:hover) {
      color: $whiteColor;
    }
    &:not(:disabled) {
      &:hover {
        background: $whiteColor;
      }
      &:active {
        &.btn-bg-orange-reversed {
          background: $orangeColor1;
        }
        &.btn-bg-blue-reversed {
          background: $blueColor1;
        }
        &.btn-bg-green-reversed {
          background: $greenColor1;
        }
        &.btn-bg-crimson-reversed {
          background: $crimsonColor1;
        }
      }
    }
    &:disabled {
      cursor: not-allowed;
      &.btn-bg-orange-reversed {
        border: 1px solid $orangeColor7;
        color: $orangeColor7;
      }
      &.btn-bg-blue-reversed {
        border: 1px solid $blueColor7;
        color: $blueColor7;
      }
      &.btn-bg-green-reversed {
        border: 1px solid $greenColor7;
        color: $greenColor7;
      }
      &.btn-bg-crimson-reversed {
        border: 1px solid $crimsonColor7;
        color: $crimsonColor7;
      }
    }
  }
}

button.btn-type-text {
  color: $gray70Color;
  background: none;
  &:not(:disabled) {
    &:hover {
      background: $gray4Color;
    }
    &:active {
      background: $gray10Color;
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  &-reversed {
    background: none;
    color: $whiteColor;
    &:not(:disabled) {
      &:hover {
        background: $whiteColor;
        &.btn-bg-orange-reversed {
          color: $orangeColor6;
        }
        &.btn-bg-blue-reversed {
          color: $blueColor6;
        }
        &.btn-bg-green-reversed {
          color: $greenColor6;
        }
        &.btn-bg-crimson-reversed {
          color: $crimsonColor6;
        }
      }
      &:active {
        &.btn-bg-orange-reversed {
          background: $orangeColor1;
        }
        &.btn-bg-blue-reversed {
          background: $blueColor1;
        }
        &.btn-bg-green-reversed {
          background: $greenColor1;
        }
        &.btn-bg-crimson-reversed {
          background: $crimsonColor1;
        }
      }
    }
    &:disabled {
      cursor: not-allowed;
      &.btn-bg-orange-reversed {
        color: $orangeColor7;
      }
      &.btn-bg-blue-reversed {
        color: $blueColor7;
      }
      &.btn-bg-green-reversed {
        color: $greenColor7;
      }
      &.btn-bg-crimson-reversed {
        color: $crimsonColor7;
      }
    }
  }
}

button.btn-type-link,
button.btn-type-link-reversed {
  color: $linkColor;
  background: none;
  &:not(:disabled) {
    &:hover {
      background: $gray4Color;
    }
    &:active {
      background: $gray10Color;
    }
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
