@import '../../base/css/common.scss';

.carousel__container {
  position: relative;
  width: 100%;
  overflow: hidden;
  @media (min-width: $desktopWidthMin) {
    height: var(--hxl);
  }
  @media (min-width: $tabletWidthMin) and (max-width: $tabletWidthMax) {
    height: var(--hmd);
  }
  @media (max-width: $mobileWidthMax) {
    height: var(--hsm);
  }
}
.carousel__sliders {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel__slider {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.2s linear;
  top: 0;
  bottom: 0;
  display: flex;
  > * {
    margin: auto;
    &:not(img) {
      width: 100%;
    }
  }
  img {
    -webkit-user-drag: none;
    max-width: 100%;
    max-height: 100%;
  }
}

.carousel__dot__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  bottom: 16px;
  height: 8px;
}
.carousel__dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin: 0 6px;
  cursor: pointer;
}

.carousel__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  cursor: pointer;
}
.carousel__back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  cursor: pointer;
}
