@import '../../base/css/common.scss';

.carousel__container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel__sliders{
   position: relative;
   width: 100%;
   height: 100%;
}
.carousel__slider {
 width: 100%;
 height: 100%;
 position: absolute;
 transition: all 0.5s linear;
 top: 0;
 bottom: 0;
}

.carousel__dot__container {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   bottom: 16px;
   width: 100px;
   height: 8px;
}
.carousel__dot {
   width: 8px;
   height: 8px;
   border-radius: 4px;
   margin: 0 6px;
   cursor: pointer;
   background: #8C9093;
   &-active {
     background: #FF8C05;
     width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 0 6px;
    cursor: pointer;
   }
}

.gray4Color {
   background: #8C9093;
}

.carousel__next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 16px;
   cursor: pointer;
}
.carousel__back {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 16px;
   cursor: pointer;

}