$successColor: #28b44f;
$warningColor: #ffb23e;
$errorColor: #ed1d31;
$informationColor: #ff8c05;
$linkColor: #0000ff;

$primaryColor: #ff8c05;
$primaryDark10Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ),
  linear-gradient(0deg, #ff8c05, #ff8c05);
$primaryDark20Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ),
  linear-gradient(0deg, #ff8c05, #ff8c05);
$primaryDark30Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),
  linear-gradient(0deg, #ff8c05, #ff8c05);
$primaryDark40Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  linear-gradient(0deg, #ff8c05, #ff8c05);
$primaryDark50Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  linear-gradient(0deg, #ff8c05, #ff8c05);
$primaryDark60Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  linear-gradient(0deg, #ff8c05, #ff8c05);
$primaryDark70Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  linear-gradient(0deg, #ff8c05, #ff8c05);
$primaryDark80Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ),
  linear-gradient(0deg, #ff8c05, #ff8c05);
$primaryDark90Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ),
  linear-gradient(0deg, #ff8c05, #ff8c05);
$primaryLight10Color: linear-gradient(0deg, #ff8c05, #ff8c05),
  linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
$primaryLight20Color: linear-gradient(0deg, #ff8c05, #ff8c05),
  linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
$primaryLight30Color: linear-gradient(0deg, #ff8c05, #ff8c05),
  linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
$primaryLight40Color: linear-gradient(0deg, #ff8c05, #ff8c05),
  linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
$primaryLight50Color: linear-gradient(0deg, #ff8c05, #ff8c05),
  linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
$primaryLight60Color: linear-gradient(0deg, #ff8c05, #ff8c05),
  linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
$primaryLight70Color: linear-gradient(0deg, #ff8c05, #ff8c05),
  linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
$primaryLight80Color: linear-gradient(0deg, #ff8c05, #ff8c05),
  linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
$primaryLight90Color: linear-gradient(0deg, #ff8c05, #ff8c05),
  linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));

$secondaryColor: #1877f2;
$secondaryDark10Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  ),
  linear-gradient(0deg, #1877f2, #1877f2);
$secondaryDark20Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ),
  linear-gradient(0deg, #1877f2, #1877f2);
$secondaryDark30Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),
  linear-gradient(0deg, #1877f2, #1877f2);
$secondaryDark40Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  linear-gradient(0deg, #1877f2, #1877f2);
$secondaryDark50Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  linear-gradient(0deg, #1877f2, #1877f2);
$secondaryDark60Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  linear-gradient(0deg, #1877f2, #1877f2);
$secondaryDark70Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  linear-gradient(0deg, #1877f2, #1877f2);
$secondaryDark80Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  ),
  linear-gradient(0deg, #1877f2, #1877f2);
$secondaryDark90Color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.9)
  ),
  linear-gradient(0deg, #1877f2, #1877f2);
$secondaryLight10Color: linear-gradient(0deg, #1877f2, #1877f2),
  linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
$secondaryLight20Color: linear-gradient(0deg, #1877f2, #1877f2),
  linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
$secondaryLight30Color: linear-gradient(0deg, #1877f2, #1877f2),
  linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
$secondaryLight40Color: linear-gradient(0deg, #1877f2, #1877f2),
  linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
$secondaryLight50Color: linear-gradient(0deg, #1877f2, #1877f2),
  linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
$secondaryLight60Color: linear-gradient(0deg, #1877f2, #1877f2),
  linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
$secondaryLight70Color: linear-gradient(0deg, #1877f2, #1877f2),
  linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
$secondaryLight80Color: linear-gradient(0deg, #1877f2, #1877f2),
  linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
$secondaryLight90Color: linear-gradient(0deg, #1877f2, #1877f2),
  linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));

$orangeColor9: #6b3a00;
$orangeColor8: #9e5500;
$orangeColor7: #d17100;
$orangeColor6: #ff8c05;
$orangeColor5: #ffa438;
$orangeColor4: #ffbb6b;
$orangeColor3: #ffd39e;
$orangeColor2: #ffead1;
$orangeColor1: #fff6eb;

$blueColor9: #06326a;
$blueColor8: #08489b;
$blueColor7: #0b5fcb;
$blueColor6: #1877f2;
$blueColor5: #4893f5;
$blueColor4: #78aff8;
$blueColor3: #a8ccfa;
$blueColor2: #cfe3fc;
$blueColor1: #ecf4fe;

$greenColor9: #0c3618;
$greenColor8: #16602a;
$greenColor7: #1f8a3c;
$greenColor6: #28b44f;
$greenColor5: #3bd365;
$greenColor4: #65dc86;
$greenColor3: #8fe6a7;
$greenColor2: #b8efc7;
$greenColor1: #eefbf2;

$crimsonColor9: #5e0810;
$crimsonColor8: #840b17;
$crimsonColor7: #bd0f21;
$crimsonColor6: #ed1d31;
$crimsonColor5: #ef3c4d;
$crimsonColor4: #f36876;
$crimsonColor3: #ffc2c8;
$crimsonColor2: #ffd6da;
$crimsonColor1: #fdecee;

$cornColor9: #4c3c01;
$cornColor8: #7e6401;
$cornColor7: #b08b02;
$cornColor6: #e2b203;
$cornColor5: #fcc603;
$cornColor4: #fdd340;
$cornColor3: #feedae;
$cornColor2: #fff2cc;
$cornColor1: #fffaeb;

$grayColor: #000810;
$gray85Color: #262d34;
$gray70Color: #4d5358;
$gray60Color: #666b70;
$gray45Color: #8c9093;
$gray30Color: #b3b5b8;
$gray15Color: #d9dadb;
$gray10Color: #e6e7e8;
$gray4Color: #f5f5f6;

$otherRedColor: #ff3b30;
$otherBlazeOrange: #ff6600;
$otherGold: #ffd700;
$otherBrightTurquoise: #51cefa;
$otherDeeppink: #ff1493;
$otherElectricViolet: #7a73ff;
$otherPurpleHeart: #722ed1;
$otherRoyalBlue: #2b70c9;
$otherDodgerBlue: #1877f2;
$otherJava: #64dcc3;
$otherLima: #2acb42;
$otherInchWorm: #a0d911;

$whiteColor: #ffffff;

$backgroundColor: #0008100a;

:export {
  white: $whiteColor;
  gray: $grayColor;
  primary: $primaryColor;
  successColor: $successColor;
  warningColor: $warningColor;
  errorColor: $errorColor;
  informationColor: $informationColor;
  linkColor: $linkColor;

  orange9: $orangeColor9;
  orange8: $orangeColor8;
  orange7: $orangeColor7;
  orange6: $orangeColor6;
  orange5: $orangeColor5;
  orange4: $orangeColor4;
  orange3: $orangeColor3;
  orange2: $orangeColor2;
  orange1: $orangeColor1;

  blue9: $blueColor9;
  blue8: $blueColor8;
  blue7: $blueColor7;
  blue6: $blueColor6;
  blue5: $blueColor5;
  blue4: $blueColor4;
  blue3: $blueColor3;
  blue2: $blueColor2;
  blue1: $blueColor1;

  green9: $greenColor9;
  green8: $greenColor8;
  green7: $greenColor7;
  green6: $greenColor6;
  green5: $greenColor5;
  green4: $greenColor4;
  green3: $greenColor3;
  green2: $greenColor2;
  green1: $greenColor1;

  crimson9: $crimsonColor9;
  crimson8: $crimsonColor8;
  crimson7: $crimsonColor7;
  crimson6: $crimsonColor6;
  crimson5: $crimsonColor5;
  crimson4: $crimsonColor4;
  crimson3: $crimsonColor3;
  crimson2: $crimsonColor2;
  crimson1: $crimsonColor1;

  corn9: $cornColor9;
  corn8: $cornColor8;
  corn7: $cornColor7;
  corn6: $cornColor6;
  corn5: $cornColor5;
  corn4: $cornColor4;
  corn3: $cornColor3;
  corn2: $cornColor2;
  corn1: $cornColor1;

  gray: $grayColor;
  gray85: $gray85Color;
  gray70: $gray70Color;
  gray60: $gray60Color;
  gray45: $gray45Color;
  gray30: $gray30Color;
  gray15: $gray15Color;
  gray10: $gray10Color;
  gray4: $gray4Color;

  otherRed: $otherRedColor;
  otherBlazeOrange: $otherBlazeOrange;
  otherGold: $otherGold;
  otherBrightTurquoise: $otherBrightTurquoise;
  otherDeeppink: $otherDeeppink;
  otherElectricViolet: $otherElectricViolet;
  otherPurpleHeart: $otherPurpleHeart;
  otherRoyalBlue: $otherRoyalBlue;
  otherDodgerBlue: $otherDodgerBlue;
  otherJava: $otherJava;
  otherLima: $otherLima;
  otherInchWorm: $otherInchWorm;

  successColor: $successColor;
  warningColor: $warningColor;
  errorColor: $errorColor;
  informationColor: $informationColor;
  linkColor: $linkColor;

  orangeColor9: $orangeColor9;
  orangeColor8: $orangeColor8;
  orangeColor7: $orangeColor7;
  orangeColor6: $orangeColor6;
  orangeColor5: $orangeColor5;
  orangeColor4: $orangeColor4;
  orangeColor3: $orangeColor3;
  orangeColor2: $orangeColor2;
  orangeColor1: $orangeColor1;

  blueColor9: $blueColor9;
  blueColor8: $blueColor8;
  blueColor7: $blueColor7;
  blueColor6: $blueColor6;
  blueColor5: $blueColor5;
  blueColor4: $blueColor4;
  blueColor3: $blueColor3;
  blueColor2: $blueColor2;
  blueColor1: $blueColor1;

  greenColor9: $greenColor9;
  greenColor8: $greenColor8;
  greenColor7: $greenColor7;
  greenColor6: $greenColor6;
  greenColor5: $greenColor5;
  greenColor4: $greenColor4;
  greenColor3: $greenColor3;
  greenColor2: $greenColor2;
  greenColor1: $greenColor1;

  crimsonColor9: $crimsonColor9;
  crimsonColor8: $crimsonColor8;
  crimsonColor7: $crimsonColor7;
  crimsonColor6: $crimsonColor6;
  crimsonColor5: $crimsonColor5;
  crimsonColor4: $crimsonColor4;
  crimsonColor3: $crimsonColor3;
  crimsonColor2: $crimsonColor2;
  crimsonColor1: $crimsonColor1;

  cornColor9: $cornColor9;
  cornColor8: $cornColor8;
  cornColor7: $cornColor7;
  cornColor6: $cornColor6;
  cornColor5: $cornColor5;
  cornColor4: $cornColor4;
  cornColor3: $cornColor3;
  cornColor2: $cornColor2;
  cornColor1: $cornColor1;

  grayColor: $grayColor;
  gray85Color: $gray85Color;
  gray70Color: $gray70Color;
  gray60Color: $gray60Color;
  gray45Color: $gray45Color;
  gray30Color: $gray30Color;
  gray15Color: $gray15Color;
  gray10Color: $gray10Color;
  gray4Color: $gray4Color;

  otherRedColor: $otherRedColor;
}
