$successColor: #28b44f;
$warningColor: #ffb23e;
$errorColor: #ed1d31;
$informationColor: #ff8c05;
$linkColor: #0000ff;
$titleColor: #000810;
$primaryColor: #ff8c05;
$secondaryColor: #1877f2;
$grayColor: #000810;
$primaryTextColor: rgba(0, 8, 16, 100%);
$secondaryTextColor: rgba(0, 8, 16, 70%);
$lableTextColor: rgba(0, 8, 16, 70%);
$hintTextColor: rgba(0, 8, 16, 45%);
$disabledColor: rgba(0, 8, 16, 30%);
$level1Color: #64dcc3;
$level2Color: #14d1fa;
$level3Color: #c382ff;
$level4Color: #1890ff;
$level5Color: #ff0000;
