@import './font-face.scss';
@import './colors.scss';
@import './typo.scss';
@import './reset.scss';

@mixin border-radius-pill {
  border-radius: 50vh;
}
@mixin border-radius-4 {
  border-radius: 4px;
}
@mixin border-radius-8 {
  border-radius: 8px;
}

$desktopWidthMin: 1200px;
$tabletWidthMax: 1199px;
$tabletWidthMin: 768px;
$mobileWidthMax: 767px;
