@font-face {
  font-family: 'Regular SF Compact Rounded';
  src: url('https://r73troypb4obj.vcdn.cloud/web/fonts/SF-Compact-Rounded-Regular.ttf')
    format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Medium SF Compact Rounded';
  src: url('https://r73troypb4obj.vcdn.cloud/web/fonts/SF-Compact-Rounded-Medium.ttf')
    format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Semibold SF Compact Rounded';
  src: url('https://r73troypb4obj.vcdn.cloud/web/fonts/SF-Compact-Rounded-Semibold.ttf')
    format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Bold SF Compact Rounded';
  src: url('https://r73troypb4obj.vcdn.cloud/web/fonts/SF-Compact-Rounded-Bold.ttf')
    format('truetype');
  font-weight: 700;
}
