.h1 {
  font-size: 28px;
  line-height: 36px;
}
.h2 {
  font-size: 24px;
  line-height: 32px;
}
.h3 {
  font-size: 20px;
  line-height: 28px;
}
.h4 {
  font-size: 18px;
  line-height: 24px;
}
.body {
  font-size: 16px;
  line-height: 22px;
}
.caption {
  font-size: 14px;
  line-height: 18px;
}
.note {
  font-size: 12px;
  line-height: 16px;
}

.font-bold {
  font-family: 'Bold SF Compact Rounded', sans-serif;
}
.font-semibold {
  font-family: 'Semibold SF Compact Rounded', sans-serif;
}
.font-medium {
  font-family: 'Medium SF Compact Rounded', sans-serif;
}
.font-regular {
  font-family: 'Regular SF Compact Rounded', sans-serif;
}

@mixin caption {
  font-size: 14px;
  line-height: 18px;
}

@mixin font-bold {
  font-family: 'Bold SF Compact Rounded', sans-serif;
}
@mixin font-semibold {
  font-family: 'Semibold SF Compact Rounded', sans-serif;
}
@mixin font-medium {
  font-family: 'Medium SF Compact Rounded', sans-serif;
}
@mixin font-regular {
  font-family: 'Regular SF Compact Rounded', sans-serif;
}
