@import '../../base/css/common.scss';
$levels: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $level in $levels {
  .mt-#{$level} {
    margin-top: $level * 2px;
  }
}

@each $level in $levels {
  .mr-#{$level} {
    margin-right: $level * 2px;
  }
}

@each $level in $levels {
  .ml-#{$level} {
    margin-left: $level * 2px;
  }
}

@each $level in $levels {
  .mb-#{$level} {
    margin-bottom: $level * 2px;
  }
}

.label-1 {
  @include caption;
  @include font-semibold;
  padding: 3px 8px;
  background: $successColor;
  display: inline-flex;
  border-radius: 12px;
  color: $whiteColor;
  text-transform: uppercase;
}

.label-2 {
  @include caption;
  @include font-semibold;
  padding: 3px 8px 3px 17px;
  position: relative;
  background: $errorColor;
  display: inline-flex;
  border-radius: 12px;
  color: $whiteColor;
  text-transform: uppercase;
  &::after {
    position: absolute;
    content: '';
    top: 9.5px;
    left: 8px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #fff;
  }
}

.label-3 {
  @include caption;
  @include font-semibold;
  padding: 3px 8px;
  background: $otherRoyalBlueColor;
  display: inline-flex;
  border-radius: 12px;
  color: $whiteColor;
  text-transform: uppercase;
}

.label-4 {
  @include caption;
  @include font-semibold;
  padding: 3px 8px;
  background: $otherElectricViolet;
  display: inline-flex;
  border-radius: 12px;
  color: $whiteColor;
  text-transform: uppercase;
}

.label-5 {
  @include caption;
  @include font-semibold;
  padding: 3px 8px;
  background: $informationColor;
  display: inline-flex;
  border-radius: 12px;
  color: $whiteColor;
  text-transform: uppercase;
}
