@import '../css/common.scss';

$sizes: 16, 24;

.radioWrap {
  display: flex;
  align-items: center;

  @each $size in $sizes {
    .radio-#{$size} {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $size * 1px;
      height: $size * 1px;
      background-color: transparent;
      border-radius: 50%;
      margin-left: 20px;

      &:hover {
        background-color: $orangeColor1;
      }

      .radio {
        position: relative;
        width: ($size - 5.33) * 1px;
        height: ($size - 5.33) * 1px;
        border-width: 1px;
        border-style: solid;
        border-color: $gray30Color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &.checked {
          border-color: $primaryColor;
        }

        &:hover {
          background-color: $orangeColor1;
          border-color: $primaryColor;
        }
        &.disabled {
          border-color: $gray10Color;
          background-color: $gray15Color;
        }
        &.disabled:hover {
          border-color: $gray10Color;
          background-color: $gray15Color;
        }

        .checkmark {
          width: ($size / 2) * 1px;
          height: ($size / 2) * 1px;
          background-color: $primaryColor;
          border-radius: 50%;
          display: none;
        }
        input {
          display: none;
        }

        input:checked + .checkmark {
          display: inline-block;
        }
      }
    }
  }

  .textWrap {
    margin-left: 8px;
  }
}
