@import '../../base/css/common.scss';

.input-wrapper {
  position: relative;
  width: 343px;
  
}
.input-icon {
  position: absolute;
  left: 16px;
  &.xs {
    top: 7px;
  }
  &.sm {
    top: 10px;
  }
  &.md {
    top: 14px;
  }
  &.lg {
    top: 18px;
  }
}
.input-clear {
  position: absolute;
  top: 14px;
  right: 16px;
  cursor: pointer;
  &.xs {
    top: 7px;
  }
  &.sm {
    top: 10px;
  }
  &.md {
    top: 14px;
  }
  &.lg {
    top: 18px;
  }
}
.input-container {
  position: relative;
  border: 1px solid #D9DADB;
  border-radius: 4px;
  padding: 0px 16px;
  box-sizing: border-box;
  width: 343px;
  &.error {
    border: 1px solid #ED1D31;
  }

}
.icon {
  padding-left: 44px;
}
.xs {
  height: 32px;
  @include font-caption-regular;
}
.sm {
  height: 40px;
  @include font-caption-regular;
}
.md {
  height: 48px;
  @include font-body-regular;
}
.lg {
  height: 56px;
  @include font-body-regular;
}

:focus-visible {
  outline: none;
}
::placeholder {
  color: #BFBFBF;
}
.textError {
  color: #ED1D31;
  @include font-note-regular;
  margin-top: 8px;
}