@import '../../base/css/common.scss';

.display-block {
  display: block;
}
.display-inline {
  display: inline;
}

.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

:export {
  white: $whiteColor;
  gray: $grayColor;
  primary: $primaryColor;

  orangeColor9: $orangeColor9;
  orangeColor8: $orangeColor8;
  orangeColor7: $orangeColor7;
  orangeColor6: $orangeColor6;
  orangeColor5: $orangeColor5;
  orangeColor4: $orangeColor4;
  orangeColor3: $orangeColor3;
  orangeColor2: $orangeColor2;
  orangeColor1: $orangeColor1;

  blueColor9: $blueColor9;
  blueColor8: $blueColor8;
  blueColor7: $blueColor7;
  blueColor6: $blueColor6;
  blueColor5: $blueColor5;
  blueColor4: $blueColor4;
  blueColor3: $blueColor3;
  blueColor2: $blueColor2;
  blueColor1: $blueColor1;

  greenColor9: $greenColor9;
  greenColor8: $greenColor8;
  greenColor7: $greenColor7;
  greenColor6: $greenColor6;
  greenColor5: $greenColor5;
  greenColor4: $greenColor4;
  greenColor3: $greenColor3;
  greenColor2: $greenColor2;
  greenColor1: $greenColor1;

  crimsonColor9: $crimsonColor9;
  crimsonColor8: $crimsonColor8;
  crimsonColor7: $crimsonColor7;
  crimsonColor6: $crimsonColor6;
  crimsonColor5: $crimsonColor5;
  crimsonColor4: $crimsonColor4;
  crimsonColor3: $crimsonColor3;
  crimsonColor2: $crimsonColor2;
  crimsonColor1: $crimsonColor1;

  grayColor: $grayColor;
  gray85Color: $gray85Color;
  gray70Color: $gray70Color;
  gray60Color: $gray60Color;
  gray45Color: $gray45Color;
  gray30Color: $gray30Color;
  gray15Color: $gray15Color;
  gray10Color: $gray10Color;
  gray4Color: $gray4Color;

  otherJavaColor: $otherJavaColor;
  otherBrightTurquoiseColor: $otherBrightTurquoiseColor;
  otherElectricViolet: $otherElectricViolet;
  otherRoyalBlueColor: $otherRoyalBlueColor;
  otherRedColor: $otherRedColor;
}
