@import '../../base/css/common.scss';
:export {
  gray4Color: $gray4Color;
  gray10Color: $gray15Color;
}
.circle-loading {
  border-radius: 50%;
  background: none;
  animation: round 1s linear infinite;
  box-sizing: border-box;
  border-style: solid;
  @keyframes round {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
